<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5" *ngIf="company">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Liên hệ</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{company.address}}</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{company.phone}}</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{company.email}}</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="{{company.x}}"><i class="fab fa-x"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{company.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{company.youtube}}"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href="{{company.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Liên kết</h5>
                <a class="btn btn-link text-white-50" routerLink="home">Trang chủ</a>
                <a class="btn btn-link text-white-50" routerLink="contact-us">Liên hệ</a>
                <a class="btn btn-link text-white-50" routerLink="schedule">Lịch trình</a>
                <a class="btn btn-link text-white-50" routerLink="ticket">Tra cứu vé</a>
                <a class="btn btn-link text-white-50" routerLink="about-us">Về chúng tôi</a>
                <a class="btn btn-link text-white-50" routerLink="blog">Tin tức</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Ảnh</h5>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="https://easycdn.blob.core.windows.net/profile-img/fivestars02_s.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="https://th.bing.com/th/id/OIP.PG82tBLBNeIHX4p323XxGgHaE7?w=626&h=417&rs=1&pid=ImgDetMain" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="https://th.bing.com/th/id/OIP.HxLMx1oZfw9BHNtxdi-t5wHaE_?w=593&h=400&rs=1&pid=ImgDetMain" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="https://th.bing.com/th/id/R.1f12ccc75a197f0f411cdb71762fade7?rik=hIqGWm78BLL76A&riu=http%3a%2f%2fs2.mojalbum.com%2f4219952_17491334_19239928%2favt012%2f19239928.jpg&ehk=nJJzi1WafSR8betUiWqUBfmTC%2fAGNjW5ChIngqhz7KY%3d&risl=&pid=ImgRaw&r=0" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="https://live.staticflickr.com/7134/6938741762_c8856c72bc_b.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="https://th.bing.com/th/id/R.733c1754a7215fd67212f678067c1c8a?rik=b0E72t1ij%2btM9Q&riu=http%3a%2f%2f4.bp.blogspot.com%2f-fdrnag3GKco%2fTcSTymmm4ZI%2fAAAAAAAAK8s%2fDBQNZWPuODI%2fs1600%2frural%2bcopy.jpg&ehk=OFCziK2RIUtMI5GKUJ7f3yJ2FfZAvE%2fGRRobnr3VU2E%3d&risl=&pid=ImgRaw&r=0" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Đăng nhập</h5>
                <a class="btn btn-link text-white-50" routerLink="login">Đăng nhập</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy;

                    Thiết kế bởi Thịnh và Triết
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
