<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Quản trị viên</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
        <a class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Thống kê</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Hành trình
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item " routerLink="/admin/route">
        <a class="nav-link" >
            <i class="fas fa-light fa-map"></i>
            <span>Quản lý tuyến xe</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item" routerLink="/admin/trip">
        <a class="nav-link" >
            <i class="fas fa-fw fa-truck"></i>
            <span>Quản lý chuyến xe</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item" routerLink="/admin/ticket">
        <a class="nav-link">
            <i class="fas fa-ticket-alt"></i>
            <span>Quản lý vé xe</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Nhân Sự
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed">
            <i class="fas fa-user "></i>
            <span>Quản lý nhân viên</span>
        </a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item ">
        <a class="nav-link">
            <i class="fas fa-shuttle-van"></i>
            <span>Quản lý tài xế</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-user-cog"></i>
            <span>Quản lý phụ lái</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Thông tin
    </div>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item" routerLink="/admin/news">
        <a class="nav-link collapsed">
            <i class="fas fa-newspaper"></i>
            <span>Quản lý tin tức</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed">
            <i class="fas fa-bell"></i>
            <span>Quản lý liên hệ</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>