<div class="container">
    <h4>Thêm xe</h4>
    <form [formGroup]="busForm" (ngSubmit)="handleCreateBus($event)">
        <div class="form-group mr-24 parent-flex" >
            <!-- Search Input Field -->
            <mat-form-field appearance="fill" class="br-black" >
                <mat-label>Tìm kiếm tuyến</mat-label>
                <input matInput placeholder="Tìm kiếm tuyến" (input)="onRouteSearch($event)">
            </mat-form-field>
            
            <!-- Select Input Field -->
            <mat-form-field appearance="fill" class="last-flex-item">
                <mat-label >Chọn Tuyến</mat-label>
                <mat-select formControlName="route_id" id="route_id" name="route_id" #routeSelect required >
                <mat-option *ngFor="let route of filteredRoutesList" value="{{route.id}}">
                    {{ route.start_point }} - {{ route.end_point }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="number_bus">Tên xe</label>
            <input formControlName="number_bus" type="text" class="form-control" id="number_bus" placeholder="Nhập tên xe"  />
        </div>

        <!-- Nút Lưu và Hủy -->
        <button type="submit" class="btn btn-success btn-icon-split mr-2" >
            <span class="icon text-white-100">
                <i class="fas fa-plus" ></i>
            </span>
            <span class="text">Tạo mới</span>
        </button>
        <a (click)="backList()" class="btn btn-outline-secondary btn-icon-split" >
            <span class="icon text-white-100">
                <i class="fas fa-ban"></i>
            </span>
            <span class="text">Hủy</span>
        </a>
    </form>
</div>