<!-- DataTales Example -->
<div class="card shadow mb-4">
    

    <div class="card-header py-3 d-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Dữ liệu</h6>
            <a *ngIf="pageType!=='contact'"  (click)="createElement()" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-100">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Thêm</span>
            </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableTicketsStaff" width="100%" cellspacing="0">
                <thead>
                    <tr >
                        <th *ngFor="let header of headerList">{{header}}</th>
                        <th class="t-center">Hành động</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr >
                        <th *ngFor="let header of headerList">{{header}}</th>
                        <th class="t-center">Hành động</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let ticket of ticketList; trackBy: trackById">
                        <td>{{ticket.id}}</td>
                        <td>{{ticket.tripId}}</td>
                        <td>{{ticket.name_customer}}</td>
                        <td>{{ticket.phone_customer}}</td>
                        <td>{{ticket.email_customer}}</td>
                        <td>{{ ticket.price| formatNumberDot3}}VNĐ</td>
                        <td [ngClass]="{'active': ticket.payment_status, 'inactive': !ticket.payment_status}">
                            {{ ticket.payment_status ? 'Đã thanh toán' : 'Chưa thanh toán'           }}
                        </td>
                        <td>{{ticket.date_begin | date: "d/'M/yy, h:mm a"}}</td>
                        <td class="d-flex justify-content-around">
                            <a (click)="updateElement(ticket.id)" class="btn btn-outline-info">
                                <i class="fas fa-wrench"></i>
                            </a>
                            <button class="btn btn-outline-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+ticket.id" >
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>

                        <!-- Model Xoa -->

                        <div class="modal fade" [id]="'exampleModal'+ticket.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                Xóa dữ liệu có mã  = <span style="color: red;font-weight: 400;">{{ticket.id}}</span>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <button (click)="deleteElement(ticket.id)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>
                                </div>
                            </div>
                            </div>
                        </div>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

