@import url("../../../../../public/assets/admin/admin.css");
@import url("../../../../../public/assets/admin/sb_admin.css");
.hover-card {
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.hover-card:hover {
    background-color: aqua;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.c-pointer {
    cursor: pointer;
}
