<!-- DataTales Example -->
<div class="card shadow mb-4">
    

    <div class="card-header py-3 d-flex align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Dữ liệu</h6>
            <a *ngIf="pageType!=='contact'"  (click)="createElement()" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-100">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Thêm</span>
            </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableCoDriver" width="100%" cellspacing="0">
                <thead>
                    <tr >
                        <th *ngFor="let header of headerList">{{header}}</th>
                        <th class="t-center">Hành động</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr >
                        <th *ngFor="let header of headerList">{{header}}</th>
                        <th class="t-center">Hành động</th>
                    </tr>
                </tfoot>
                <tbody>
                        <tr *ngFor="let coDriver of coDriverList; trackBy: trackById">
                            <td>{{coDriver.id}}</td>
                            <td>{{coDriver.name}}</td>
                            <td>{{coDriver.email}}</td>
                            <td>{{coDriver.phone}}</td>
                            <td>{{coDriver.birthday| date:"'M/d/yy, h:mm a"}}</td>
                            <td>
                                {{ coDriver.role === 1 ? 'Quản lý' : (coDriver.role === 2 ? 'Nhân viên bán vé' : (coDriver.role === 3 ? 'Tài xế' : (coDriver.role === 4 ? 'Phụ lái' : 'Vai trò không xác định'))) }}
                            </td>                              
                            <td >{{ coDriver.gender ? 'Nam' : 'Nữ' }}</td>
                            <td *ngIf="coDriver.img!=undefined" ><img [src]="'data:image/png;base64,'+coDriver.img" style="width:100px" alt="Image"/></td>
                            <td *ngIf="coDriver.img==undefined" ><img src="assets/admin/img/undraw_profile_2.svg" style="width:100px" alt="Image"/></td>
                            <td [ngClass]="{'active': coDriver.enable, 'inactive': !coDriver.enable}">
                                {{ coDriver.enable ? 'Còn hợp đồng' : 'Hết hợp đồng' }}
                            </td>
                            <td>{{coDriver.date_begin | date:"'M/d/yy, h:mm a"}}</td>
                            <td class="d-flex justify-content-around">
                                <a (click)="updateElement(coDriver.id)" class="btn btn-outline-info">
                                    <i class="fas fa-wrench"></i>
                                </a>
                                <!-- <button class="btn btn-outline-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+coDriver.id" >
                                    <i class="fas fa-trash-alt"></i>
                                </button> -->
                            </td>

                            <!-- Model Xoa -->

                            <div class="modal fade" [id]="'exampleModal'+coDriver.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                    Xóa phụ lái có mã nhân sự = <span style="color: red;font-weight: 400;">{{coDriver.id}}</span>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-danger" (click)="deleteElement(coDriver.id)" data-bs-dismiss="modal">Xóa</button>
                                    </div>
                                </div>
                                </div>
                            </div>

                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

