@import url("../../../../../public/assets/css/style.css");

.mh-9{
    min-height: 9rem;
}

.img-user {
    height: 216px !important;
    object-fit: cover !important;
    width: 100% !important;
}


.p-title {
    padding: 22px 50px;
}