<div class="container">
    <h3 >
      <i class="fa-brands fa-searchengin"></i>
      <span style="color: #00b98e;">TRA CỨU THÔNG TIN ĐẶT VÉ</span>
    </h3>
    <form [formGroup]="ticketFormGroup" (ngSubmit)="handleGoToTicket($event)">
      <input formControlName="phone" type="text" class="form-input" placeholder="Vui lòng nhập số điện thoại">
      <input formControlName="ticketId" type="text" class="form-input" placeholder="Vui lòng nhập mã vé">
      <ngx-recaptcha2 #captchaElem
        [siteKey]="siteKey"
        (success)="handleSuccess()"
        formControlName="recaptcha">
      </ngx-recaptcha2>
      <button class="btn-submit" [disabled]="disabled">Tra cứu</button>
    </form>
</div>