<div class="overlay">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="handleResetPassword($event)">
       <div class="con">
       <header class="head-form">
          <h2>Tạo mật khẩu mới</h2>
          <p>Nhập mật khẩu mới cho tài khoản của bạn</p>
       </header>
       <br>
       <div class="field-set">
             <span class="input-item">
               <i class="fa fa-user-circle"></i>
             </span>
             <input formControlName="password" class="form-input" id="pwd" type="password" placeholder="Nhập mật khẩu">
          <br>
            <span class="input-item">
                <i class="fa fa-user-circle"></i>
            </span>
            <input formControlName="confirmPassword" class="form-input" id="cfm-pwd" type="password" placeholder="Nhập lại mật khẩu">
          <br>

          <!-- Warning -->
          <c-alert class="d-flex align-items-center mt-2" [(visible)]="visibleWarning" [dismissible]="dismissible" color="warning" fade>
            <i class="fa fa-warning"></i>
            <div>{{warningMessage}}</div>
          </c-alert>
          <br>
          <button class="log-in" type="submit">Gửi</button>
       </div>
         
      </div>
    </form>
    </div>