
<div class="edit-news-container">
    <h3>Thêm tin tức</h3>
    <form asp-action="UpdateNews" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label for="Title">Tiêu đề</label>
            <input type="text" asp-for="Title" class="form-control" id="Title" required />
        </div>

        <!-- Nút chọn tệp để thêm ảnh đại diện và ảnh xem trước -->
        <div class="form-group">
            <label>Ảnh đại diện: </label>
            <button type="button" class="btn btn-outline-success" onclick="chooseImage()">Chọn ảnh</button>
            <img id="previewImage" src="#" alt="Ảnh xem trước" style="display:none; margin-left: 10px; max-height: 100px;" />
        </div>

        <div class="form-group">
            <label for="Description">Mô tả</label>
            <input type="text" asp-for="Description" class="form-control" id="Description" required />
        </div>

        <div class="form-group">
            <label for="Content">Nội dung</label>
            <div>
                <div class="main-container">
                    <div class="editor-container editor-container_classic-editor editor-container_include-block-toolbar" #editorContainerElement>
                        <div class="editor-container__editor">
                            <div #editorElement>
                                <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        Ẩn <input type="checkbox" id="hideCheckbox">
        <div class="form-group">
            <label for="PublishedDate">Ngày xuất bản</label>
            <input type="datetime-local" asp-for="PublishedDate" class="form-control" id="PublishedDate" required />
        </div>

        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-success">Lưu</button>
            <a href="" class="btn btn-outline-warning">Hủy</a>
        </div>
    </form>
</div>

