<div class="container fw-semibold mt-4">
    <div class="row">
        <div class="col-md-8 info-box mb-3 shadow">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <span class="fs-3 fw-bold fs-5" style="color: #00b98e;">Chọn ghế</span>
                <a href="#" class="text-primary" style="padding-right: 375px;">Thông tin xe</a>
            </div>
            <div class="justify-content-between">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="text-center">Tầng dưới</h5>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="pt-3 pe-3 ps-2 bd-highlight seat-container" >
                                <i class="fs-3 fa-solid fa-couch available seat ">
                                    <p class="seat-label">A01</p>
                                </i>
                            </div>
                            <div class="px-3 pt-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat ">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 pt-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="pe-3 ps-2 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch icon available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch icon available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="pe-3 ps-2 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="pe-3 ps-2 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="pe-3 ps-2 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5 class="text-center" style="padding-left: 30px;">Tầng trên</h5>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="pt-3 ps-5 pe-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 pt-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 pt-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="ps-5 pe-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="ps-5 pe-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="ps-5 pe-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start mb-3">
                            <div class="ps-5 pe-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                            <div class="px-3 bd-highlight seat-container">
                                <i class="fs-3 fa-solid fa-couch available seat">
                                    <span class="seat-label">A01</span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pt-5">
                        <div class="d-flex flex-column-reverse bd-highlight">
                            <div class="p-2 bd-highlight"><i class="fa-solid fa-square" style="color: #d84315;"></i> Đang chọn</div>
                            <div class="p-2 bd-highlight"><i class="fa-solid fa-square" style="color: #ade6f6;"></i> Còn trống</div>
                            <div class="p-2 bd-highlight"><i class="fa-solid fa-square" style="color: #999;"></i> Đã bán</div>
                          </div>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- Thông tin lượt đi và chi tiết giá -->
        <div class="col-md-4">
            <div class="info-box mb-3 shadow">
                <i class="fa-solid fa-circle-info" style="color: #00b98e;"></i>
                <span class="fs-5" style="color: #00b98e;">Thông tin lượt đi</span>
                <p class="mb-1">Tuyến xe: An Nhơn - Miền Đông Mới</p>
                <p class="mb-1">Thời gian xuất bến: <span class="text-success">18:45 28/10/2024</span></p>
                <p class="mb-1">Số lượng ghế: 0 Ghế</p>
                <p class="mb-1">Số ghế: </p>
                <p class="mb-1">Điểm trả khách: </p>
                <p class="total-price">Tổng tiền lượt đi: 0đ</p>
            </div>
            <div class="info-box shadow">
                <i class="fa-solid fa-money-check" style="color: #00b98e;"></i>
                <span class="fs-5" style="color: #00b98e;">Chi tiết giá</span>
                <p class="mb-1">Giá vé lượt đi: 0đ</p>
                <p class="mb-1">Phí thanh toán: 0đ</p>
                <p class="total-price">Tổng tiền: 0đ</p>
            </div>
        </div>
    </div>

    <!-- Thông tin khách hàng -->
    <div class="mt-2 pb-4">
        <div class="row">
            <div class="col-md-8 shadow p-3 rounded">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa-solid fa-user" style="color: #00b98e;"></i>
                        <span style="color: #00b98e;font-size: 1.4rem;">Thông tin khách hàng</span>
                        <form id="bookingForm">
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Họ và tên <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="fullName" required>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Số điện thoại <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="phone" required>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="email" required>
                            </div>
                            <button type="submit" class="btn text-light" style="background-color: #00b98e;">Đặt vé</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-3">
                            <h6 class="text-danger fw-bold">ĐIỀU KHOẢN & LƯU Ý</h6>
                            <p class="text-muted">
                                (*) Quý khách vui lòng có mặt tại bến xuất phát của xe trước ít nhất 30 phút giờ xe khởi hành, mang theo thông báo đã thanh toán vé thành công có chứa mã vé được gửi từ hệ thống 2-T BUS LINE. Vui lòng liên hệ Trung tâm tổng đài 52200005 để được hỗ trợ.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>