<div class="container">
    <h4>Sửa vé xe</h4>
    <form [formGroup]="ticketForm" (ngSubmit)="handleUpdateTicket($event)">

        <div class="form-group mr-24 parent-flex" >
            <!-- Search Input Field -->
            <mat-form-field appearance="fill" class="br-black" >
                <mat-label>Tìm kiếm chuyến</mat-label>
                <input matInput placeholder="Tìm kiếm chuyến" (input)="onTripSearch($event)">
            </mat-form-field>
            
            <!-- Select Input Field -->
            <mat-form-field appearance="fill" class="last-flex-item">
                <mat-label >Chọn chuyến</mat-label>
                <mat-select formControlName="trip_id" id="trip_id" name="trip_id" (selectionChange)="removeSeatsId()" #tripSelect required >
                <mat-option *ngFor="let trip of filteredTripList" value="{{trip.id}}">
                    {{ trip.id }} 
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Chọn Ghế</mat-label>
                <mat-select formControlName="seat_list" multiple>
                <mat-option *ngFor="let seat of seatList" [value]="seat.id" [disabled]>
                    {{ seat.name }} 
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
          

        <div class="form-group">
            <label for="name_customer">Tên khách hàng</label>
            <input formControlName="name_customer" id="name_customer" type="text" class="form-control" placeholder="Nhập tên khách hàng">
        </div>

        <div class="form-group">
            <label for="phone_customer">Số điện thoại</label>
            <input formControlName="phone_customer" type="text" class="form-control" id="phone_customer" placeholder="Nhập số điện thoại"/>
        </div>

        <div class="form-group">
            <label for="email_customer">Email</label>
            <input formControlName="email_customer" type="email" class="form-control" id="email_customer" placeholder="Nhập email"/>
        </div>

        <div class="form-group">
            <label for="state">Trạng thái</label>
            <select formControlName="payment_status" class="form-control" id="payment_status" name="payment_status" required>
                <option value="true">Đã thanh toán</option>
                <option value="false">Chưa thanh toán</option>
            </select>
        </div>

        <!-- Nút Lưu và Hủy -->
        <button type="submit" class="btn btn-primary btn-icon-split mr-2" >
            <span class="icon text-white-100">
                <i class="fas fa-save" ></i>
            </span>
            <span class="text">Lưu</span>
        </button>
        <a (click)="backList()" class="btn btn-outline-secondary btn-icon-split mr-2" >
            <span class="icon text-white-100">
                <i class="fas fa-ban"></i>
            </span>
            <span class="text">Hủy</span>
        </a>

        <a *ngIf="!ticketCurr.payment_status" (click)="cancleRemoveTicket()" class="btn btn-outline-success btn-icon-split" >
            <span class="icon text-white-100">
                <i class="fas fa-handshake"></i>
            </span>
            <span class="text">Hủy tự động xóa vé</span>
        </a>
    </form>
</div>