
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
    <button (click)="exportChart()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Xuất báo cáo
    </button>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Thu nhập trung bình (Hàng tháng)
                        </div>
                        <span *ngIf="isLoading"> <div class="spinner-border text-primary" role="status"> <span class="sr-only">Loading...</span> </div> </span>
                        <div *ngIf="!isLoading" class="h5 mb-0 font-weight-bold text-gray-800">{{ averageMonthLyTotalRevenue ? (averageMonthLyTotalRevenue | formatNumberDot3) : "Loading..."  }}VNĐ</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Thu nhập trung bình (Hàng năm)
                        </div>
                        <span *ngIf="isLoading"> <div class="spinner-border text-primary" role="status"> <span class="sr-only">Loading...</span> </div> </span>
                        <div *ngIf="!isLoading" class="h5 mb-0 font-weight-bold text-gray-800">{{averageYearLyTotalRevenue? (averageYearLyTotalRevenue | formatNumberDot3) : "Loading..."}}VNĐ</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Yêu cầu chưa xử lý
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-md-6">
        <mat-form-field appearance="fill" class="last-flex-item" [style.width.%]=100>
            <mat-label>Kiểu thời gian</mat-label>
            <mat-select formControlName="type_time" id="type_time" name="type_time" (selectionChange)="handleChangeTypeTime($event)">
            <mat-option value="year">Năm</mat-option>
            <mat-option value="quarter">Quý</mat-option>
            <mat-option value="month">Tháng</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-xl-4 col-md-6">
        <mat-form-field appearance="fill" class="last-flex-item" [style.width.%]=100>
            <mat-label>Năm cụ thể</mat-label>
            <mat-select formControlName="detail_year" id="detail_year" name="detail_year" (selectionChange)="handleChangeYearDetail($event)" [disabled]="disableYearDetail">
            <mat-option *ngFor="let year of yearList" value="{{year}}">{{year}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="col-xl-4 col-md-6">
        <mat-form-field appearance="fill" class="last-flex-item" [style.width.%]=100>
            <mat-label>Loại đồ thị</mat-label>
            <mat-select formControlName="type_chart" id="type_chart" name="type_chart" (selectionChange)="handleChangeTypeChart($event)">
            <mat-option value="line">Đường</mat-option>
            <mat-option value="doughnut">Tròn</mat-option>
            <mat-option value="bar">Cột</mat-option>
            <mat-option value="bubble">Điểm</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    
    
</div>

<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tổng Doanh Thu</h6>
            </div>

            <!-- Card Body -->
            <app-chart [typeChart]="typeChart" [typeTime]="typeTime" [yearDetail]="yearDetail"></app-chart>
        </div>
    </div>
</div>

