<div class="overlay">
    <form [formGroup]="verificationForm" (ngSubmit)="handleVerificationCode($event)">
       <div class="con">
       <header class="head-form">
          <h2>Xác thực </h2>
          <p>Nhập mã xác thực để tiếp tục</p>
       </header>
       <br>
       <div class="field-set">
             <span class="input-item">
               <i class="fa fa-user-circle"></i>
             </span>
             <input formControlName="code" class="form-input" id="txt-input" type="text" placeholder="Nhập Code">
          <br>
          <!-- Warning -->
          <c-alert class="d-flex align-items-center mt-2" [(visible)]="visibleWarning" [dismissible]="dismissible" color="warning" fade>
            <i class="fa fa-warning"></i>
            <div>{{warningMessage}}</div>
          </c-alert>

          <!-- Error -->
          <c-alert class="d-flex align-items-center mt-2" [(visible)]="visibleError" [dismissible]="dismissible" color="danger" fade>
            <i class="fa fa-warning"></i>
            <div>{{(errorMessage)}}</div>
          </c-alert>
          <br>
          <button class="log-in" type="submit">Tiếp tục</button>
       </div>
      </div>
    </form>
    </div>